<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.BoardMapper">

	<sql id="criteria">
		<trim prefix="(" suffix=") and">	<!-- 배열에서는 item만 필요하다 -->
			<foreach collection="typeArr" item="type" separator="or">
				<if test="type == 'T'.toString()">
					title like '%'|| #{keyword} ||'%'
				</if>
				<if test="type == 'C'.toString()">
					content like '%'|| #{keyword} ||'%'
				</if>
				<if test="type == 'W'.toString()">
					writer like '%'|| #{keyword} ||'%'
				</if>
			</foreach>
		</trim>
	</sql>

		<!-- select id= "인터페이스 의 메소드 이름으로 지정해줘야한다" resultType="호출한 메소드의 타입에 대한 경로를 지정해줘야한다 "  -->
		<select id="getList" resultType="org.zerock.domain.boardVo">
			select * from tbl_board order by bno
		</select>
		
		<!-- insert 같은경우에는 resulttype을 설정해주지 않아도 된다. -->
		<insert id="insert">
			insert into tbl_board (bno, title, content, writer)
			values(SEQ_BOARD.nextval,#{title},#{content},#{writer})
		</insert>
		
		<insert id="insertSelectkey">
			<!-- selectkey는 몇번의 bno로 들어갈지를 확인후 후처리 작업으로 insert문에 해당 bno를 던저준다 -->
			<selectKey order="BEFORE" keyProperty="bno" resultType="long">
				select SEQ_BOARD.nextval from dual
			</selectKey>
		
			insert into tbl_board (bno, title, content, writer)
			values(#{bno},#{title},#{content},#{writer})
		</insert>
		
		<select id="read" resultType="org.zerock.domain.boardVo">
			select * from tbl_board where bno = #{bno}
		</select>
		
		<delete id="delete">
			delete from tbl_board where bno = #{bno}
		</delete>
		
		<update id="upload">
			update tbl_board
			set title = #{title}, content = #{content}, writer = #{writer}, updatedate = sysdate
			where bno = #{bno}
			
		</update>
		
		<select id="testcode" resultType="org.zerock.domain.boardVo">
			select * from tbl_board where bno = 2
		</select>
		
		<select id="testcode2" resultType="org.zerock.domain.boardVo">
			select * from tbl_board where bno = 3
		</select>
		
		<select id="getListWithPaging" resultType="org.zerock.domain.boardVo">
			<!-- mybatis에서 부등호 같은걸 사용할경우 ![CDATA[]] 를 사용해줘야한다  -->
			<![CDATA[
			select * from 
			(select /*+ INDEX_DESC(tbl_board pk_board)*/ rownum rn, bno, title, writer,regdate,updatedate
			from tbl_board
			where 
			]]>
			 
			 <include refid="criteria"></include>
			 
			<![CDATA[
			bno>0 and rownum > 0 and rownum <=(#{pageNum}*#{amount})
			)
			where rn > (#{pageNum}-1) * #{amount}
			]]>
		</select>
		
		<select id="getTotalCount" resultType="int">
			select count(bno) from tbl_board where <include refid="criteria"></include> bno > 0
		</select>
		
		<select id="searchTest" resultType="org.zerock.domain.boardVo">
			<![CDATA[
			select * from tbl_board
			
			where
			]]>
			
			<![CDATA[
			rownum < 10
			]]>
		</select>
</mapper>